<h2>
    Contact</h2>
<div class="col_w320 float_l">
    <ul class="list">
        <li>Please email to: <a href="mailto:contactme@menuzrus.com" target="_blank">contactme@menuzrus.com</a></li>
        <li>Call: <a href="skype:673-7887" target="_blank">513-673-7887</a></li>
    </ul>
</div>
<div class="col_w320 float_r">
</div>
<div class="cleaner h30">
</div>
<div class="cleaner">
</div>
