@model MenuzRus.Models.ExceptionModel
<h2>Error суки, бляди !!!</h2>
<div class="col_w320 float_l">
    <h5>@Model.Exception.Message</h5>
    <ul class="list">
        <li>Model.Exception.Source</li>
        <li>@Model.Exception.StackTrace</li>
    </ul>
</div>
<div class="cleaner h30">
</div>