<h2>Error суки, бляди !!!</h2>
<div class="col_w320 float_l">
    <h5>@MenuzRus.SessionData.exeption.Message</h5>
    <ul class="list">
        <li>@MenuzRus.SessionData.exeption.Source</li>
        <li>@MenuzRus.SessionData.exeption.StackTrace</li>
    </ul>
    @{
        MenuzRus.SessionData.exeption = null;
    }
</div>
<div class="cleaner h30">
</div>