/* Set position*/
body {
    padding-top: 150px;
    background-color: #eee;
}

.panel {
    width: 650px;
    margin: 0 auto;
}

.panel-body {
    margin-left: 15px;
}

.form-customer {
    margin: 0 auto;
}

    .form-customer .form-control:focus {
        z-index: 2;
    }

.input-sm {
    margin-top: 0;
    margin-bottom: 10px;
}

#State {
    width: 150px;
}

.preview {
    width: 160px;
    height: 160px;
    text-align: center;
    cursor: pointer;
}

#Image {
    width: 0;
    height: 0;
}

.imagerow {
    padding-right: 0px;
}

.panel-footer {
    margin-top: 20px;
    padding-top: 20px;
}