/* Set position*/
body {
    background-color: #eee;
}

.floorArea {
    margin-top: 50px;
}

#Floor_id {
    margin: 10px;
}

.container-order {
    margin-top: 10px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.nav-tabs > li > a {
    margin-right: -5px;
}

#btnAdd {
}

.menu {
    height: 500px;
}

.check {
    height: 450px;
}

.order, .reciept {
    margin-left: 20px;
    height: 500px;
}

.checks {
    overflow-y: auto;
    height: 43px;
    max-height: 200px;
    z-index: 0;
}

.order {
    padding: 0px;
    width: 64.333%;
}

.panel-heading.item {
    margin-left: 0px;
    color: #2b6da6;
    padding: 20px 10px;
}

.close {
    display: inline;
    margin-left: 10px;
    z-index: 99990000;
}

    .close:hover {
        display: inline;
        text-decoration: none;
        cursor: pointer;
    }

.menuItems {
    height: 450px;
    width: 365px;
}

.category, .item {
    list-style: none;
}

.container-order-item {
    padding: 0px;
}

    .container-order-item .panel {
        margin-bottom: 0px;
    }

        .container-order-item .panel .panel-body {
            padding: 6px;
        }

ul {
    padding-left: 0px;
}

h4 {
    margin: 0px;
}

.menu-tabs > li > a {
    padding-left: 0px;
}

.btnDelete {
    padding: 4px 6px;
}

.knopa {
    white-space: pre-line;
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 5px;
}

.itemNameSmall {
    line-height: 0.8;
    font-size: 11px;
    white-space: pre-wrap;
}