@media print {
    #html2Print {
        height: auto;
        overflow: hidden;
    }
}

body {
    background-color: #eee;
}

.btn-default:active, .btn-default.active {
    background-color: #d6c6a5;
}

.btn .label {
    top: -3px;
}

.floorArea {
    margin-top: 50px;
}

#Floor_id {
    margin: 10px;
}

.container-order {
    background-color: #eeeeee;
    border-radius: 15px;
    margin-bottom: 0;
    padding: 20px;
    margin-top: 20px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.nav-tabs > li {
    margin-bottom: 0;
}

    .nav-tabs > li > a {
        margin-right: -5px;
    }

.menu-tab {
    padding-left: 0px;
}

.checks {
    overflow-y: auto;
    max-height: 250px;
    max-height: 200px;
    z-index: 0;
}

.panel-heading.item {
    margin-left: 0px;
    color: #2b6da6;
    padding: 15px 5px;
}

.associationItem {
    padding: 5px;
}

.close {
    display: inline;
    margin-left: 10px;
    /*z-index: 99990000; ---- Gets through Print Modela dialog*/
}

    .close:hover {
        display: inline;
        text-decoration: none;
        cursor: pointer;
    }

.tab-content {
    height: 100%;
}

.menuActions {
    padding: 15px;
    height: 457px;
}

.menuActions-container {
    height: 340px;
    margin-top: 20px;
}

li.search-choice {
    line-height: 23px !important;
}

li.search-field {
    height: auto;
    white-space: nowrap;
}

    li.search-field > input[type="text"] {
        height: 35px !important;
    }

.category, .item {
    list-style: none;
}

.container-order-item {
    padding: 0px;
}

    .container-order-item .panel {
        margin-bottom: 0px;
    }

        .container-order-item .panel .panel-body {
            padding: 6px;
        }

ul {
    padding-left: 0px;
}

h4 {
    margin: 0px;
}

.btnDelete {
    padding: 4px 6px;
}

.category {
    margin-top: 10px;
}

.item {
}

.close {
    font-size: 20px;
}

.knopa {
    min-width: 70px;
    max-width: 140px;
    height: 70px;
    padding: 3px;
}

.knopaMenu {
    height: 140px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 3px;
    width: 140px;
}

.itemNameSmall {
    line-height: 1;
    font-size: 12px;
    text-align: justify;
    white-space: pre-wrap;
    margin-top: 7px;
}

.itemPrice {
    width: 100%;
    border-color: #ccc;
    text-shadow: 0 1px 0 #fff;
    position: absolute;
}

.mainItem {
    margin-top: 10px;
    font-weight: bold;
}

.tax {
    font-weight: bold;
}

.total {
    font-weight: bold;
}

.subItem {
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 10px;
}

#tableAddress.center, #tableItems.center {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}

#tableAddress > tbody td {
    padding: 0px;
}

#tableItems, #tableSplit > tbody td {
    padding: 0px;
}

.centered {
    text-align: center;
}

.menu-actions-tab {
    margin-top: 35px;
}

#btnPrintCheck {
    margin-top: 210px;
}

.checksBadges {
    display: inline-block;
    position: relative;
}

.timer {
    position: absolute;
    font-size: 62%;
    left: 0%;
    right: 0%;
    white-space: normal;
    bottom: 0px;
}

.tableNameStatus {
    position: relative;
    display: block;
    line-height: 1.2;
    white-space: normal;
}

.actionsProperties {
    padding: 20px;
    height: 255px;
}

#modalPrint {
    padding: 0px;
    position: initial;
    height: 400px;
    overflow: auto;
}

.modal-footer {
    margin-top: 1px;
}

.menu {
    height: 95%;
}

.order {
    height: 100%;
}