h2 {
    color: #787878;
    text-shadow: 2px 2px 3px #8D8484;
}


.container-report {
    background-image: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
    border-radius: 15px;
    width: 95vw;
    min-height: 500px;
    min-width: 700px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.ui-jqgrid .ui-jqgrid-htable {
    height: 35px;
}

    .ui-jqgrid .ui-jqgrid-htable th {
        background-color: #428bca;
        background-image: linear-gradient(to bottom, #428bca 0px, #155185 100%);
        background-repeat: repeat-x;
        color: #fff;
        font-weight: bold;
    }

        .ui-jqgrid .ui-jqgrid-htable th div {
            height: auto !important;
        }

.ui-jqgrid tr.jqgrow td {
    padding-left: 15px !important;
}

.ui-jqgrid .ui-jqgrid-view {
    font-size:  12px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

.modal-dialog {
    margin: 150px auto;
}
