/* Set position*/
body {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #eee;
}

a:hover, a:focus {
    text-decoration: none;
    color: #71706c;
    outline: none;
}

.panel-yourmenu {
    padding: 0px;
}

.panel-yourmenu-body {
    padding: 0px;
}

.page {
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 500px;
    width: 265px;
    cursor: pointer;
    margin-left: 16px;
    text-align: center;
}

.wall {
    padding: 35px 0px 0px 85px;
    height: 560px;
    padding: 30px 0 0 0;
}

.well {
    background-color: #EEEEEE;
}

.category-group {
    padding: 0px;
    margin-top: 15px;
    list-style-type: none;
}

.categoryImage {
    width: 125px;
    height: 100px;
    border-radius: 40%;
    margin: 10px auto;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #e6b741, 0 0 0 5px #fff, 0 0 0 6px #e6b741, 0 0 0 7px #fff, 0 0 0 8px #e6b741;
}

.category {
    border-bottom: 3px double #323B4C;
    color: #323B4C;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 3px;
    line-height: 1.1;
    margin: 0px;
    padding-bottom: 1px;
    text-shadow: 0px 0px 0 #FFFFFF, 1px 1px 0 #E6B741;
    text-transform: uppercase;
}

    .category:hover {
        color: #71706c;
        outline: none;
    }

.categoryDescription {
    font-size: 9px;
    color: #333333;
    margin: 5px;
}

    .categoryDescription:hover {
        color: #71706c;
        outline: none;
    }

.items-group {
    padding: 0px;
    list-style-type: none;
}

.item {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 0px 0px 0 #FFFFFF, 0px 1px 0 #71706c;
    display: block;
    margin-top: 4px;
}

.itemImage {
    width: 100px;
    height: 70px;
    border-radius: 20%;
    margin: 10px auto;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #e6b741, 0 0 0 5px #fff, 0 0 0 6px #e6b741;
}

.itemDescription {
    color: #333333;
    font-size: 8px;
}

.price {
    font-size: 9px;
    color: #333;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 0px 0px 0 #FFFFFF, 0px 1px 0 #71706c;
    margin-bottom: 5px;
}

.nav-pills {
    margin: 5px 0 5px 5px;
}

.tab-content {
    margin-left: auto;
    overflow: auto;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30px auto;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #e6b741, 0 0 0 5px #fff, 0 0 0 6px #e6b741, 0 0 0 7px #fff, 0 0 0 8px #e6b741;
}

.modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

.modal-dialog {
    margin: 150px auto;
}