<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Services.Properties.Settings.menuzrusConnectionString1"
            connectionString="Data Source=VALS-PC;Initial Catalog=menuzrus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Services.Properties.Settings.menuzrusConnectionString2"
            connectionString="Data Source=184.168.47.19;Initial Catalog=menuzrus;Persist Security Info=True;User ID=menuzrus;Password=!myDataBase!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>