<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Services.Properties.Settings.menuzrusConnectionString"
            connectionString="Data Source=184.168.47.19;Initial Catalog=menuzrus;User Id=menuzrus;Password=!menuzrus!db"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>