<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Services.Properties.Settings.menuzrusConnectionString"
            connectionString="Data Source=184.168.47.19;Initial Catalog=menuzrus;User Id=menuzrus;Password=!myDataBase!"
            providerName="System.Data.SqlClient" />
        <add name="Services.Properties.Settings.aspnetdbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Projects\MenuzRus.com\MenuzRus\App_Data\aspnetdb.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>