<h2>
    Home</h2>
<div class="image_wrapper image_fl">
    <span></span>
    <img src="../../images/web/menushot.png" alt="Image" /></div>
<div class="cleaner h30">
</div>
<div class="col_w320 float_l">
    <h3>
        Our Service Lists</h3>
    <ul class="list">
        <li>Design of digital menus.</li>
        <li>Running digital menu on multiple TV/monitors.</li>
    </ul>
</div>
<div class="col_w320 float_r">
</div>
<div class="cleaner h30">
</div>
<div class="cleaner">
</div>
