@model MenuzRus.Models.CheckPrint
@using Extensions
<div class="order-view-container" style="height: 450px; padding: 15px; overflow: auto;">
    <div class="panel center" data-toggle="buttons">
        @foreach (MenuzRus.Models.LineItem item in Model.Items) {
            <div class="btn btn-default knopa">
                <div class="tableNameStatus alert-info label shadow">@item.Description.Ellipsis(55)
                </div>
                <input class="knopka" type="checkbox" />
                <div id="labels-container">
                    @foreach (MenuzRus.Models.LineItem subItem in item.SubItems) {
                        <label class="addons shadow">@subItem.Description.Ellipsis(55)</label>
                    }
                </div>
            </div>
        }
    </div>
</div>