@model List<MenuzRus.Models.Check>
<script src="@Url.Content("~/Scripts/TouchSpin/jquery.bootstrap-touchspin.min.js")" type="text/javascript"></script>

<button class="btn btn-primary btn-lg shadow" onclick="javascript:selectAll();"><i class="glyphicon glyphicon-plus"></i></button>
<button class="btn btn-primary btn-lg shadow" onclick="javascript:removeAll();"><i class="glyphicon glyphicon-minus"></i></button>
 @if ((Boolean)Session[Constants.SESSION_MODULE_PRINT]) {
    <button class="btn btn-primary btn-lg shadow" id="btnPrintChecks"><i class="glyphicon glyphicon-print"></i></button>
 }
<button id="btnDeleteSelectedChecks" class="btn btn-danger btn-lg pull-right shadow" style="margin-left: 10px;" onclick="javascript:deleteSelected();"><i class="glyphicon glyphicon-trash"></i></button>
<button type="button" class="btn btn-warning btn-lg pull-right shadow" onclick="javascript:getComments('check')"><span class="glyphicon glyphicon-edit"></span></button>
<div class="menuActions-container">
    <select data-placeholder="Click to add" class="chosen-select shadow" multiple>
        @foreach (MenuzRus.Models.Check check in Model) {
            <option value="@check.id">#@check.id</option>
        }
    </select>

    <div style="margin-top: 35px; width: 305px;">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon shadow leiba" style="width: 100px;">Split for :</div>
                <input id="slideSplit" name="slideSplit" type="text" class="form-control shadow" style="width: 100px;" value="1" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon shadow leiba" style="width: 100px;">Adjustment :</div>
                <input id="adjustmentSplit" name="adjustmentSplit" type="text" class="form-control shadow" style="width: 100px;" value="0" />
            </div>
        </div>
    </div>
    <div style="clear: left">
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#slideSplit").TouchSpin({
            min: 1,
            max: 20,
            step: 1,
            decimals: 0,
            postfix: "<span class='glyphicon glyphicon-user' aria-hidden='true'></span>"
        });

        $("#adjustmentSplit").TouchSpin({
            min: -100,
            max: 100,
            step: 5,
            decimals: 0,
            postfix: "%"
        });

        $("#btnPrintChecks").on("click", function () {
            var selected = $(".chosen-select")[0].selectedOptions;
            var ids = new Array();
            $.each($(selected), function (index, item) {
                ids.push(parseInt(item.value));
            });
            checksPrint(ids);
        });

        var checkId = $(".check").find(".tab-pane.active").attr("data-value");

        $(".check").find(".tab-pane").html("");
        $(".chosen-select").chosen({ width: "100%", display_disabled_options: false }).val(checkId).trigger("chosen:updated");

    });

    function selectAll() {
        $(".chosen-select option").prop("selected", true);
        $(".chosen-select").trigger("chosen:updated");
    };

    function removeAll() {
        $(".chosen-select option").prop("selected", false);
        $(".chosen-select").trigger("chosen:updated");
    };

    function deleteSelected() {
        noty({
            layout: "center",
            type: "error",
            killer: true,
            model: true,
            text: "<strong>" + $(".chosen-select").val() + "</strong></em> will be deleted.<br />Would you like to continue ?",
            buttons: [{
                addClass: 'btn btn-danger', text: 'Delete', onClick: function ($noty) {
                    $noty.close();
                    var selected = $(".chosen-select").val();
                    var ids = new Array();
                    $.each($(selected), function (index, item) {
                        ids.push(parseInt(item));
                    });
                    deleteSelectedChecks(ids);
                }
            },
              {
                  addClass: 'btn btn-default', text: 'Cancel', onClick: function ($noty) {
                      $noty.close();
                  }
              }
            ]
        });
    }

    function deleteSelectedChecks(checksIds) {
        var container = $(".layout");
        container.block();
        var jqxhr = $.get($.validator.format("{0}Order/DeleteChecks", root), { "checksIds": JSON.stringify(checksIds) }, "json")
            .done(function (result) {
            })
            .fail(function () {
                message("::deleteCheck:: Failed.", "error", "topCenter");
            })
            .always(function () {
                window.location.reload();
            });
    }

    function getComments(type, element) {
        var parentId;
        if (type == "check") {
            parentId = $(".check").find(".tab-pane.active").attr("data-value");
        }
        else {
            parentId = $(element).attr("data-value");
        }
        $("#commentType").val(type);
        $("#parentId").val(parentId);

        var container = $(".layout");
        container.block();
        var jqxhr = $.get($.validator.format("{0}Comments/GetComments/", root), { "parentId": parentId, "type": type })
            .done(function (result) {
                $("#modalEditForm").html(result);
                $(".modalEditForm").modal("show");
            })
            .fail(function () {
            })
            .always(function () {
                container.unblock();
            });
    }
</script>