<style>
    .centered {
        float: none;
        margin: 0 auto;
    }
</style>
<div>
    <h2 class="centered">Your session ended, please sign in</h2>
    <div class="row col-sm-8 col-md-8 col-lg-8 centered" style="margin-top: 50px;">
        <a class="shadow btn btn-success btn-lg" href="../Login">Sign in</a>
    </div>
</div>