<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Menuz R Us</title>
    <meta name="keywords" content="digital menu design, digital menus, design menus " />
    <meta name="description" content="Digital menus designer" />
    <link href="../../Content/web_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <span id="top"></span>
    <div id="wrapper">
        <div id="header">
            <div id="site_title">
                <h1>
                    <a href="/Home" rel="nofollow">Home</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li><a id="home" href="/Home">Home</a></li>
                    <li><a id="contact" href="/Contact">Contact</a></li>
                    <li><a id="login" href="#about">Login/Sign up</a></li>
                    <li><a id="designer" href="#about" style="display: none;">Designer</a></li>
                </ul>
            </div>
            <!-- end of menu -->
        </div>
        <!-- end of header -->
        <div id="main">
            <div id="home">
            </div>
            <div class="content_box_top">
            </div>
            <div class="content_box">
                @RenderBody()
            </div>
            <!-- end of a content box -->
            <div class="content_box_bottom">
            </div>
            <!-- end of a content box -->
        </div>
        <!-- end of main -->
        <div id="footer">
            Copyright © 2013 | Designed by <a href="http://www.menuzrus.com" rel="nofollow" target="_parent">
                Menuz R Us</a>
        </div>
    </div>
    <!-- end of wrapper -->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js'></script>
</body>
</html>
