<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="contactme@menuzrus.com">
                <network host="smtpout.secureserver.net" userName="contactme@menuzrus.com" password="kpot65" port="25" />
            </smtp>
        </mailSettings>
    </system.net>
    <appSettings>
        <add key="fromEmailDisplayName" value="Valentin Gikhman" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>